body, h2, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #aefcb8;
    text-align: center;
}

header {
    background-color: #b58ef3;
    color: #000000;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}


button {
    background-color: #93f8ffee;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b58ef3b9;
}

nav {
    background-color: #995ff5;
    padding: 10px;
    display: flex;
    justify-content: left;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    text-align: center;
    justify-content: center;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #ffffff;
}

footer {
    background-color: #b58ef3b9;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align:center;
    margin: 0;
    padding: 0;
}

.social {
    background-color: #b58ef300;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
}

.social {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

/* adicionar espaçamento ao elemento .social */
.social ul {
    margin: 10px;
}

.relator{
    justify-content: center;
    align-items: center;
}
.bb button{
    width: 19%;
    height: 70px;
    border-radius: 60px;
    background: transparent;
    border: none;
    font-style: oblique;
    font-size: 30px;

}
.bb button:hover{
    background-color: #5e50b9;

}
.bb a{
    text-decoration: none;
    color: #000000;
}
.linha{
    margin: 20px auto;
    text-align: center;
    height: 7vh;
    width: 100%;
    max-width: 1400px;
    padding-top: 30px;
    background-color: #b58ef3b9;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mano{
    margin: auto;
}
.bloco{
    margin: 15px auto;
    text-align: center;
    width: 95%;
    max-width: 1300px;
    padding: 20px;
    background-color: #b58ef3b9;
    border-radius: 20px;   
    min-height: 250px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.titulo{
    padding-bottom: 20px;

}
.tabela{
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.tabela tr:nth-child(even){
    background: #5e50b9;

}
.cord:hover{
    background-color: antiquewhite;
}
.mais{
    text-transform: uppercase;
}

.bot{
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    background: #333;
    color: #fff;
    font-size: 13px;
    float: right;
}

.bot:hover{
    background: #00b0ff;
}
.texto{
    overflow: hidden;
    padding: 0 3px 0 0;
}
.texto input{
    width: 100%;
    height: 23px;
    font-size: 15px;
    background: transparent;
    border: #010911 solid 2px;
    border-top: #00aeff;
    border-left: #0077ff;
    border-right: #0084ff;
}
.mano2{
    width: 95%;
    height: 50vh;
    margin: auto;
    max-width: 1300px;
}
.bloco2{
    margin: 5px auto;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #b58ef3;
    border-radius: 20px;   
    min-height: 250px;
    height: 100%;
    box-shadow: 0 0 20px rgba(193, 2, 252, 1);
}
.linha2{
    margin: 20px auto;
    text-align: center; 
    min-height: 70px;
    width: 100%;
    max-width: 1400px;
    padding-top: 30px;
    background-color: #b58ef3;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(193, 2, 252, 1);
} 
